<div class="question">
  <h2>Your question: </h2>
  <p><%= params[:question] %></p>
</div>
<div class="answer">
  <h2>Coaches answer: </h2>
  <p><%= @answer  %></p>
</div>

<a href="ask">Ask again!</a>
