<form action="/answer" method="get">
  <label for="question"><h1>What would you like to ask coach?</h1></label>
  <br>
  <input name="question" type="text" placeholder="type a question" value='<%= params[:question] %>'>
  <input type="submit">
</form>
